body {
  font-family: tahoma, sans-serif;
  background-color: #293546;
}

.welcome-section {
margin-top: 20%;

}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.main-nav li {
  display: inline-block;
}

.main-nav a:link,
.main-nav a:visited {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  transition: color .3s;
}

.main-nav a:hover,
.main-nav a:active {
  color: #ccc;
}

.col-l {
  float: left;
  width: 50%;
  background-color: #293546;
  color: #333;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}

.col-r {
  float: right;
  width: 100%;
  background-color: #ff4545;
  overflow: hidden;
  color: #ccc;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.9);
}

.full-page {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: bold;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
  overflow: hidden;
}

.page-content {
  padding: 50px;
  box-sizing: border-box;
}

.left-title{
font-size: 80px;
color: #ff4545;
margin-left: 9%;
line-height: 110%;
font-family: 'Montserrat Subrayada', sans-serif;
}
.ff4545 {
color: #ff4545;
font-family: 'Hammersmith One', sans-serif;
}
.f293546{
  color: #293546;
}
.step-heading{
color: #ffffff;
font-size: 30px;
font-family: 'Montserrat Subrayada', sans-serif;
margin-bottom: 10px;

}
.right-title{
font-family: 'Montserrat Subrayada', sans-serif;
font-size: 80px;
color: #ffffff;
margin-left: 9%;
line-height: 110%;
}
.info-box{
  margin-top: 1%;
margin-left: 10%;
margin-right: 10%;
font-size: 25px;
color: #ffffff;
}
.heading{
  margin-top: 3;
margin-left: 10%;
margin-right: 10%;
font-size: 28px;
color: #ffffff;
}
/*css-for-all-sections-starts-here*/
.welcome-section {
height: 100vh;
}

.step-one-two {
height: 100vh;
}

.step-three-four {
height: 100vh;

}
.step-five-six{
height: 100vh;

}

.footer {
height: 25vh;
color: #333333;
}

.flex {
display:flex;


}
