body {
  background-color : #E6E6FA;
  font-family      : 'Quicksand',
                     sans-serif;
}

.welcome-section {
  margin-top : 20%;
}

.filterbubble {}

.main-nav {
  z-index    : 1;
  position   : fixed;
  top        : 0;
  width      : 100%;
  height     : 30px;
  color      : #fff;
  background : rgba(0, 0, 0, 0.5);
  text-align : center;
}

.main-nav li {
  display : inline-block;
}

.main-nav a:link,
.main-nav a:visited {
  display         : inline-block;
  padding         : 5px 10px;
  color           : #fff;
  text-decoration : none;
  transition      : color .3s;
}

.main-nav a:active,
.main-nav a:hover {
  color : #ccc;
}

.col-l {
  width            : 50%;
  float            : left;
  color            : #333;
  background-color : #293546;
  text-shadow      : 1px 1px 1px rgba(255, 255, 255, 0.3);
}

.col-r {
  width            : 100%;
  float            : right;
  color            : #ccc;
  overflow         : hidden;
  background-color : #ff4545;
  text-shadow      : -1px -1px 1px rgba(0, 0, 0, 0.9);
}

.full-page {
  box-sizing  : border-box;
  width       : 100%;
  border      : 2px solid rgba(0, 0, 0, 0.2);
  font-size   : 20px;
  font-weight : bold;
}

.mask {
  position : fixed;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 50%;
  overflow : hidden;
}

.page-content {
  box-sizing : border-box;
  padding    : 50px;
}

.new-title {
  display         : flex;
  margin-left     : 19%;
  color           : #71F79F;
  font-family     : 'Quicksand',
                    sans-serif;
  font-size       : 80px;
  justify-content : center;
  line-height     : 110%;
}

.left-title {
  margin-right : 10%;
  margin-left  : 180%;
  color        : #black;
  font-family  : 'Hammersmith One',
                 sans-serif;
  font-size    : 80px;
  line-height  : 110%;
}

}
.fullstop {
  margin-left : 3000%;
  color       : #fff;
  font-family : 'Hammersmith One',
                sans-serif;
  font-size   : 80px;
  line-height : 110%;
}

.ff4545 {
  color       : #black;
  font-family : 'Hammersmith One',
                sans-serif;
}

.f293546 {
  color : #293546;
}

.step-heading {
  margin-bottom : 10px;
  color         : #black;
  font-family   : 'Montserrat Subrayada',
                  sans-serif;
  font-size     : 30px;
}

.right-title {
  margin-left : 9%;
  color       : #black;
  font-family : 'Montserrat Subrayada',
                sans-serif;
  font-size   : 80px;
  line-height : 110%;
}

.info-box {
  margin-top   : 1%;
  margin-right : 20%;
  margin-left  : 20%;
  color        : #black;
  font-size    : 25px;
}

.filterbubble-p1 {
  margin-top   : 10%;
  margin-right : 20%;
  margin-left  : 20%;
  color        : #black;
  font-size    : 25px;
}

.scroll-down-text {
  margin-top   : 0%;
  margin-right : 30%;
  margin-left  : 35%;
  color        : #ffffff;
  font-size    : 25px;
}

.heading {
  margin-top   : 3;
  margin-right : 20%;
  margin-left  : 20%;
  color        : #408ECE  ;
  font-size    : 28px;
}

.heading1 {
  margin-top   : 3;
  margin-left  : 30%;
  margin-bottom: 5%;
  color        : #408ECE  ;
  font-size    : 28px;
}

/* css-for-all-sections-starts-here */

.welcome-section {
  height : 70vh;
}

.filterbubble {
  height : 70vh;
}

.step-one-two {
  z-index : 2;
  height  : 100vh;
}

.step-three-four {
  height : 150vh;
}

.step-five-six {
  height : 90vh;
}

.footer {
  height : 15vh;
  color  : #333333;
}

.flex {
  display : flex;
}

/* scroll down mouse starts here */

/* social media icons start here */

.container {
  display : table;
  width   : 100%;
  margin  : 0;
}

nav a {
  display    : table-cell;
  width      : 14.2%;
  padding    : .5em;
  color      : white;
  text-align : center;
  font-size  : 2em;
}

@media (max-width: 768px) {
  nav a {
    font-size : 1.5em;
  }
}

nav a:first-child {
  border-radius : 5px 0 0 5px;
}

@media (max-width: 768px) {
  nav a:first-child {
    border-radius : 0;
  }
}

nav a:last-child {
  border-radius : 0px 5px 5px 0px;
}

@media (max-width: 768px) {
  nav a:last-child {
    border-radius : 0;
  }
}

/* Here's a handy list of social media colors: https://goo.gl/7uo5TR */

/* Facebook */

/* Twitter */

/* Google Plus */

/* Instagram */

/* Tumblr */

/* Flickr */

/* Vine */

/**
 * Setting equal widths dependent on the number of links. Add or remove as many
 * as necessary.
 */

/* one item */

nav a:first-child:nth-last-child(1) {
  width : 100%;
}

/* two items */

nav a:first-child:nth-last-child(2),
nav a:first-child:nth-last-child(2) ~ a {
  width : 50%;
}

/* three items */

nav a:first-child:nth-last-child(3),
nav a:first-child:nth-last-child(3) ~ a {
  width : 33.3333%;
}

/* four items */

nav a:first-child:nth-last-child(4),
nav a:first-child:nth-last-child(4) ~ a {
  width : 25%;
}

/* five items */

nav a:first-child:nth-last-child(5),
nav a:first-child:nth-last-child(5) ~ a {
  width : 20%;
}

/* six items */

nav a:first-child:nth-last-child(6),
nav a:first-child:nth-last-child(6) ~ a {
  width : 16.666%;
}

/* seven items */

nav a:first-child:nth-last-child(7),
nav a:first-child:nth-last-child(7) ~ a {
  width : 14.285%;
}

/* eight items */

nav a:first-child:nth-last-child(8),
nav a:first-child:nth-last-child(8) ~ a {
  width : 12.5%;
}

/**
 * Assigning link background colors and setting the hover and active states. For
 * quick adding of buttons, perform a search + replace on the 2 letter variable
 * name.
 */

nav a.fb {
  background  : #3B5998;
  text-shadow : 1px 1px 0px #263961;
}

nav a.fb:hover {
  color      : #3055a3 !important;
  background : #2d4373;
}

nav a.fb:active {
  color      : #3B5998;
  background : #1e2e4f;
}

nav a.tw {
  background  : #55ACEE;
  text-shadow : 1px 1px 0px #1689e0;
}

nav a.tw:hover {
  color      : #4cadf7 !important;
  background : #2795e9;
}

nav a.tw:active {
  color      : #55ACEE;
  background : #147bc9;
}

nav a.gp {
  background  : #DD4B39;
  text-shadow : 1px 1px 0px #ac2d1e;
}

nav a.gp:hover {
  color      : #e9422d !important;
  background : #c23321;
}

nav a.gp:active {
  color      : #DD4B39;
  background : #96271a;
}

nav a.ig {
  background  : #517FA4;
  text-shadow : 1px 1px 0px #385771;
}

nav a.ig:hover {
  color      : #4580b0 !important;
  background : #406582;
}

nav a.ig:active {
  color      : #517FA4;
  background : #2f4a60;
}

nav a.fl {
  background  : #FF0084;
  text-shadow : 1px 1px 0px #b3005c;
}

nav a.fl:hover {
  color      : #ff0084 !important;
  background : #cc006a;
}

nav a.fl:active {
  color      : #FF0084;
  background : #99004f;
}

nav a.tu {
  background  : #32506D;
  text-shadow : 1px 1px 0px #1a2a39;
}

nav a.tu:hover {
  color      : #2a5075 !important;
  background : #22364a;
}

nav a.tu:active {
  color      : #32506D;
  background : #121d27;
}

nav a.vi {
  background  : #00BF8F;
  text-shadow : 1px 1px 0px #007356;
}

nav a.vi:hover {
  color      : #00bf8f !important;
  background : #008c69;
}

nav a.vi:active {
  color      : #00BF8F;
  background : #005943;
}
.what-you-waiting {
  font-size  : 20px;
  color      : #ffffff;
}
/* social media icons end here */
