body {
  background-color : #e6d8ff;
  font-family      : tahoma,
                     sans-serif;
}

.filter-graphic-one {
  margin-right  : -500%;
  margin-bottom : -500%;
}

.welcome-section {
  margin-top  : 20%;
  margin-left : 34%;
  color       : black;
}

.scroll-down-text {
  margin-left : 10%;
  color       : white;
}

.main-nav {
  z-index    : 1;
  position   : fixed;
  top        : 0;
  width      : 100%;
  height     : 30px;
  color      : #fff;
  background : rgba(0, 0, 0, 0.5);
  text-align : center;
}

.main-nav li {
  display : inline-block;
}

.main-nav a:link,
.main-nav a:visited {
  display         : inline-block;
  padding         : 5px 10px;
  color           : #fff;
  text-decoration : none;
  transition      : color .3s;
}

.main-nav a:active,
.main-nav a:hover {
  color : #ccc;
}

.col-l {
  width            : 50%;
  float            : left;
  color            : #333;
  background-color : #293546;
  text-shadow      : 1px 1px 1px rgba(255, 255, 255, 0.3);
}

.col-r {
  width            : 100%;
  float            : right;
  color            : #ccc;
  overflow         : hidden;
  background-color : #ff4545;
  text-shadow      : -1px -1px 1px rgba(0, 0, 0, 0.9);
}

.full-page {
  box-sizing  : border-box;
  width       : 100%;
  border      : 2px solid rgba(0, 0, 0, 0.2);
  font-size   : 20px;
  font-weight : bold;
}

.mask {
  position : fixed;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 50%;
  overflow : hidden;
}

.page-content {
  box-sizing : border-box;
  padding    : 50px;
}

.left-title {
  margin-left : 9%;
  color       : #ff4545;
  font-family : 'Montserrat Subrayada',
                sans-serif;
  font-size   : 80px;
  line-height : 110%;
}

.ff4545 {
  color       : #ff4545;
  font-family : 'Hammersmith One',
                sans-serif;
}

.f293546 {
  color : #293546;
}

.step-heading {
  margin-bottom : 10px;
  color         : #333;
  font-family   : 'Montserrat Subrayada',
                  sans-serif;
  font-size     : 30px;
}

.right-title {
  margin-left : 9%;
  color       : #333;
  font-family : 'Montserrat Subrayada',
                sans-serif;
  font-size   : 80px;
  line-height : 110%;
}

.info-box {
  margin-top   : 1%;
  margin-right : 10%;
  margin-left  : 10%;
  color        : #333;
  font-size    : 25px;
}

.heading {
  margin-top   : 3;
  margin-right : 10%;
  margin-left  : 10%;
  color        : #333;
  font-size    : 28px;
}

/* css-for-all-sections-starts-here */

.welcome-section {
  height : 70vh;
}

.step-one-two {
  height : 70vh;
}

.step-three-four {
  height : 70vh;
}

.step-five-six {
  height : 70vh;
}

.footer {
  height : 25vh;
  color  : #333333;
}

.flex {
  display : flex;
}

.filterbubble {
  height : 70vh;
}
